<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conv.HealthETrain.mapper.AnswerMapper">

    <resultMap id="BaseResultMap" type="com.conv.HealthETrain.domain.Answer">
            <id property="answerId" column="answer_id" jdbcType="INTEGER"/>
            <result property="noteId" column="note_id" jdbcType="INTEGER"/>
            <result property="askId" column="ask_id" jdbcType="INTEGER"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        answer_id,note_id,ask_id,
        likes
    </sql>
</mapper>
