<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conv.HealthETrain.mapper.LessonLinkCategoryMapper">

    <resultMap id="BaseResultMap" type="com.conv.HealthETrain.domain.POJP.LessonLinkCategory">
            <id property="llcId" column="llc_id" jdbcType="BIGINT"/>
            <result property="lessonId" column="lesson_id" jdbcType="BIGINT"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        llc_id,lesson_id,category_id
    </sql>
</mapper>
