<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conv.HealthETrain.mapper.LessonLinkTeacherMapper">

    <resultMap id="BaseResultMap" type="com.conv.HealthETrain.domain.POJP.LessonLinkTeacher">
            <id property="lltId" column="llt_id" jdbcType="BIGINT"/>
            <result property="lessonId" column="lesson_id" jdbcType="BIGINT"/>
            <result property="tdId" column="td_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        llt_id,lesson_id,td_id
    </sql>
</mapper>
