<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conv.HealthETrain.mapper.SectionMapper">

    <resultMap id="BaseResultMap" type="com.conv.HealthETrain.domain.Section">
            <id property="sectionId" column="section_id" jdbcType="INTEGER"/>
            <result property="videoId" column="video_id" jdbcType="INTEGER"/>
            <result property="sectionTitle" column="section_title" jdbcType="VARCHAR"/>
            <result property="chapterId" column="chapter_id" jdbcType="INTEGER"/>
            <result property="sectionOrder" column="section_order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        section_id,video_id,section_title,
        chapter_id,section_order
    </sql>
</mapper>
