<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conv.HealthETrain.mapper.StarMapper">

    <resultMap id="BaseResultMap" type="com.conv.HealthETrain.domain.POJP.Star">
            <id property="starId" column="star_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="lessonId" column="lesson_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        star_id,user_id,lesson_id,
        score
    </sql>
</mapper>
