<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conv.HealthETrain.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.conv.HealthETrain.domain.domain.Video">
            <id property="videoId" column="video_id" jdbcType="BIGINT"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="length" column="length" jdbcType="BIGINT"/>
            <result property="sectionId" column="section_id" jdbcType="BIGINT"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="saveLibrary" column="save_library" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        video_id,path,length,
        section_id,size,save_library
    </sql>
</mapper>
