<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conv.HealthETrain.mapper.TeacherDetailMapper">

    <resultMap id="BaseResultMap" type="com.conv.HealthETrain.domain.TeacherDetail">
            <id property="tdId" column="td_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="positionId" column="position_id" jdbcType="INTEGER"/>
            <result property="qualificationId" column="qualification_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        td_id,user_id,category_id,
        real_name,position_id,qualification_id
    </sql>
</mapper>
